

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  
}

.Introduction{
    font-size: 1.44em;
    font-weight: 500;
    color: #392F5A;
    padding-top: 5em;
    width: 540px;
    max-width: 100%;
}

.nav-bar{
  font-size:15px;
text-align: right;

position: fixed;
top: 0;
width: 100%;
background-color:#730071 ;
padding: 1.22em;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.nav-links{
background-color:#730071 ;
  
}

.navigation-links{
  text-decoration: none;
  font-size: 2em;
  margin-right: 1.22em;
  background-color:#730071 ;
  color: #FFFFF3;

}

.navigation-links:hover{
  opacity: .77;
}



  form{
      font-size: 1.33em;
      padding: 1.22em 1.33em;
  }

 .Input,textarea{
  font-family: inherit;
  max-width: 100%;
  width: 450px;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;

  }

  .btn{
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #47AB11;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
  }

  @media (min-width:760px) {
    .Introduction{
      font-size: 1.44em;
      font-weight: 500;
      color: #392F5A;
      padding-top: 4em;
    margin: 1.22em;

  }    
  }

  
