*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    padding: 0;
    margin: 0;

}
 /*background-size: cover;*/
body{
    text-align: center;
}

.introduction{
    padding-top:8em ;
    margin: 1.77em;
    line-height: 1.77em;
    font-weight: 200;
    
}

h2 {
    color: cyan;
}

.summary.description-1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.summary{
    text-align: center;
    padding: 1.44em;
    line-height: 1.88em;
}

.nav-bar{
    font-size:15px;
  text-align: right;
  
position: fixed;
top: 0;
width: 100%;
background-color:#730071 ;
padding: 1.22em;


}

.nav-links{
background-color:#730071 ;
    
}

.navigation-links{
    text-decoration: none;
    font-size: 2em;
    margin-right: 1.22em;
    background-color:#730071 ;
    color: #FFFFF3;

}

.navigation-links:hover{
    opacity: .77;
}



.button-cta{
    text-decoration: none;
    border: 2px solid black outset ;
}


.doctors-img{
    width: 420px;
}

.call-to-action-buttons{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;

}

.cta-grp1,.cta-grp2,.cta-grp3{
    padding: 20px ;
    margin-top: 54px;
    font-size: 1.77em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border-radius: 50px;
    width:245px;
    max-width: 100%;
    display: block;
    
    background-color: bisque;
}



@media (min-width:760px) {
   


    .introduction{
        padding-top: 6em;
       
        }
        
        .intro-info{
        display: flex;
        flex-direction: row;
        padding: 2.22em;
        
        }

        .intro-content{
            width: 650px;
            max-width: 100%;
        }

    .summary{
        display: flex;
flex-direction: row;
gap: 1.44em;
padding: 1.22em;

    }

    .doctors-img{
        width: 540px;
        max-width: 100%;
    }
    

    .cta-grp1,.cta-grp2,.cta-grp3{
        padding: 20px ;
        font-size: 1.77em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        border-radius: 50px;
        width: 200px;
        max-width: 100%;
        display: block;
        background-color: bisque;
    }

    .call-to-action-buttons{
         display: flex;
        flex-direction: row;
        justify-content: space-between;

   
    }
    
    .button-cta{
        text-decoration: none;
        
    
    }

    .call-to-action-buttons:hover{
        opacity: .88;
    }


}