*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-size: 1.2em;
    font-weight: 500;
    color: #7b2cbfff;
    text-align: center;
    padding: 1em 1.44em;
}

h1{
    font-size: 4em;
    font-weight: 200;
    color: #7b2cbfff;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fafafa;
}

input {
    width: 50%;
    padding: 25px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    width: 50%;
    padding: 25px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #7b2cbfff;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

