.cat-button{}
.navigation-bar{
border-style:outset;border-color:aqua;
background-color:cadetblue;
padding:80px 80px;
display:inline-block;
height:40px;
size:6px;
padding:0;
}
.nav-list{
    text-align:center;
}
.input-description{
    height:80px; width:200px;
}
.body{
    background-color:burlywood;
}